body {
    margin: 0;
    padding: 0;
    color: rgb(25, 162, 137);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

subtitle {
    color: rgb(57, 237, 171);
    font-family: "Brush Script MT", cursive, sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin-top: 20px; 
}

menuTitle {
    color: rgb(239, 54, 54);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

menuItem {
    color: rgb(255, 145, 55);
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    white-space: normal;
    text-align: center;
}

addButton {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 0.875em; /* Slightly larger button text */
}

.price {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}



